<div class="jumbotron">
    <h4 ng-bind="lista.app"></h4>
    <table class="table">
        <tr class="text-center">
            <th></th>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Operadora</th>
        </tr>
        <tr ng-class="{selecionado : contato.selecionado}" ng-repeat="contato in lista.contatos">
            <td><input type="checkbox" name="seleciona" ng-model="contato.selecionado"></td>
            <td>{{contato.nome}}</td>
            <td>{{contato.telefone}}</td>
            <td>{{contato.operadora.nome}}</td>
        </tr>
    </table>
    <hr/>
    <input type="text" class="form-control" name="nome" placeholder="Nome" ng-model="contato.nome">
    <input type="text" class="form-control" name="telefone" placeholder="Telefone" ng-model="contato.telefone">
    <select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome for operadora in lista.operadoras">
        <option value="">Selecione uma operadora</option>
    </select>
    <button class="btn btn-primary btn-block" ng-click="lista.adicionarContato(contato)" ng-disabled="!(contato.nome && contato.telefone)">Adicionar Contato</button>
    <button class="btn btn-danger btn-block" ng-click="lista.removerContatos(lista.contatos)" ng-disabled="!lista.isContatoSelecionado(lista.contatos)">Remover Contato</button>

</div>